.sider {
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

.btn_menu_center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.btn_menu_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}

.menu {
    margin-left: 8px;
    color: white;
}

.divider {
    background-color: white;
    margin-top: 0;
}