.form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.divTitleForms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleForms {
    color: white;
    font-size: 36px;
    letter-spacing: 2px;
}

.subTitleForms {
    text-align: center;
    width: 300px;
    margin: 8px 0px 30px;
    font-size: 14px;
    color: white;
    text-wrap: wrap;
    letter-spacing: 1px;
}